<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preshak - share your files</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="upload-container">
        <div class="drop-zone">
            <div class="icon-container">
                <img src="/img/file.svg" alt="file_icon" class="center" draggable="false">
                <img src="/img/file.svg" alt="file_icon" class="left" draggable="false">
                <img src="/img/file.svg" alt="file_icon" class="right" draggable="false">
            </div>
            <input type="file" id="fileInput">
            <div class="title">Drop your files here or, <span class="browseBtn">browse</span></div>
        </div>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>